if req
    div(class='form ' + modifiers)
        label(class='form__form-title' for=name) #{placeholder}
        if autofocus
            input(type=type, name=name, class='form__text-form ' + formModifiers, value=value required autofocus)
        else
            input(type=type, name=name, class='form__text-form ' + formModifiers, value=value required)
        if help
            div(class='form__help ' + modifiers)="URL has been copied to clipboard."
else 
    div(class='form ' + modifiers)
        label(class='form__form-title' for=name) #{placeholder}
        if autofocus
            input(type=type, name=name, class='form__text-form ' + formModifiers, value=value autofocus)
        else
            input(type=type, name=name, class='form__text-form ' + formModifiers, value=value)
        if help
            div(class='form__help ' + modifiers)="URL has been copied to clipboard."